.todoContainer {
    padding-top: var(--navTopHeight);
    padding-left: var(--navSideWidth) ;
    height: 100%;
    background-color: rgb(204, 198, 198);
}

.todoBody {
    padding: 1rem;
}

.todoAddButton {
    padding: 0.2rem 1rem;
    font-size: 1rem;
    border: none;
    background-color: rgb(138, 140, 145);
    color: white;
    font-weight: 600;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.todoBodyTitle {
    display: flex;
    gap: 2rem;
}

.todoBodyButton {
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
    /* height: 2rem; */
}

.todoAddIcon {
    font-size: 1.5rem;
    margin-right: 0.3rem;
}

.sortPriorityContainer {
    z-index: 1;
    cursor: pointer;
    position: relative;
    display: inline-block;
    
}

.sortPriorityButton {

    /* height: 2rem; */
}

.priorityDropdown {
    background-color: gray;
    z-index: 1;
    position: absolute;
    width: 100%;

}

li {
    list-style: none;
    padding: 0.2rem 0.5rem;
}

.viewTodoNow {
    padding: 0.5rem 0rem;
    margin: 1rem 0rem;
    
}

.sortDropdownContainer {
    cursor: pointer;
    position: relative;
    display: inline-block;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sortDropdownButton {

}

.sortDropdownContent {
    top: 2rem;
    left: 0rem;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 1px 8px 0 rgb(0 0 0 / 8%);
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    z-index: 2;
    width: 10rem;
    padding: 0.5rem ;
    
}

.sortMenuHeader {
    display: flex;
    align-items: center;
    font-weight: 800;
    padding-bottom:0.5rem ;
    padding-top: 0.2rem;
}

.sortMenuItem {
    padding: 0.4rem 0rem;
    font-size: 0.9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sortMenuItem1 {
    padding-top: 0.4rem;
    padding-bottom: 0.2rem;
    font-size: 0.9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sortMenuPItem {
    padding: 0.2rem 1rem;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sortMenuItem:nth-child(4) {
    padding: 0.4rem 0rem 0rem 0rem ;
    font-size: 0.9rem;
}


.sortMenuItem:nth-child(15) {
    padding: 0.5rem 0rem;
    font-size: 0.9rem;
    border-top: 1px solid rgb(192, 188, 188);
}



.viewTodoNowContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media (max-width: 750px) {
    
    .todoContainer{
        padding-left: 0;
    }
   }