body {
    --navSideColor: rgb(248, 248, 248);
    --navTopColor: #bbbdf6;
    --navHoverColor: #d9dafa;
    --navSideWidth: 305px;
    --navTopHeight: 44px;
}

.navbarSideContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--navSideWidth);
    height: 100%;
    background-color: var(--navSideColor);
    z-index: 0;
    padding: var(--navTopHeight) 0;
}

.navbarSideContents {
    padding: 1rem ;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.navbarSideItems {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;

}

.navbarSideItems:hover {
    background-color: var(--navHoverColor);
}