.navbarTopContainer{
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--navTopHeight);
    background-color: var(--navTopColor);
    z-index: 1001;
}

.navbarTopLeft {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    display: none;
}


@media (max-width: 750px) {
    .navbarTopLeft {
        display: block;

    }
    
   }
  