body {
    --navSideColor: white;
    --navTopColor: white;
    --navHoverColor: #d9dafa;
    --navSideWidth: 250px;
    --navTopHeight: 44px;
    --navSideIconColor: rgb(165, 161, 161);
    --borderLineColor: rgb(216, 216, 216);
}

.navbarSideContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--navSideWidth);
    height: 100%;
    background-color: var(--navSideColor);
    z-index: 1002 ;
    padding: var(--navTopHeight) 0;
    border-right: 1px solid var(--borderLineColor);
}



.navbarSideContents {
    padding: 1rem 0.5rem ;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.navbarSideItems {
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    font-size: 0.9rem;
}

.navbarSideIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--navSideIconColor);
    font-size: 1.2rem;

}

.navbarSideIcons2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--navSideIconColor);
    font-size: 0.5rem;

}

.navbarSideItems:hover {
    background-color: var(--navHoverColor);
}

.navbarProject {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbarProjectTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 0.9rem;
}

.navbarProjectDrop {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 0.5rem 1rem; */
}

.navbarProjectAdd {
    padding: 0.2rem 0.2rem;
    width: 1.2rem;
    height: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.navbarProjectAdd:hover {
    background-color: var(--navHoverColor);
}

.navbarProjectArrow {
    width: 1.2rem;
    height: 1.2rem;
    padding: 0.2rem 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.navbarProjectArrow:hover {
    background-color: var(--navHoverColor);
}

.navbarProjectMenu {
    padding: 0.2rem 2rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    font-size: 0.8rem;
}


@media (max-width: 750px) {
    .navbarSideContainer {
        left: -425px;
    }
    
   }
   .navbarShow {
    left: 0;
    z-index: 101;
}