.menuButton {
    border: none;
    background-color: white;
    color: gray;
    font-size: 1.1rem;
    font-weight: 700;

    display: flex;
    align-items: center;
    justify-content: center;
}

.userAvatar {

    width: 32px;
    height: 32px;
    border: 4px solid white;
    vertical-align: middle;
}

.userAvatar img {
    width: 100%;
    height: 100%;
   
    border-radius: 50%;
}