.sideModalContainer {
    position: fixed;
    top: 6.4rem;
    right: 0;
    width: 30%;
    height: 100% ;
    z-index: 0;
    background-color: white;
    color: gray;
    
    border-left: 1px solid rgb(239, 241, 244);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 8px 16px;
}

.sideModalContent {

}

.sideModalTitle {
    padding: 1rem;
}

.sideModalTitleItem {
    padding: 1rem ;
}