.todoViewContainer {
  /* background-color: antiquewhite; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin: 1rem 0;
}

.todoViewCard {
  background-color: white;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 60%;
}


.todoViewCardDone {
  background-color: rgb(224, 224, 224);
  border: 1px solid rgb(216, 216, 216);
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 60%;
}

.todoViewGroupContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin: 1rem 0;
  width: 100%;
}

.todoViewGroupTitle {

}

.todoCardContent {
  display: flex;
}

.todoCardDone {
    margin-right: 1rem;
    font-size: 1.4rem;
}

.todoCardBody {
    
}

.todoCardTitle {
    align-items: center;
    font-weight: 600;
    margin-bottom: 0.2rem;

}

.todoCardDescription {
    margin-bottom: 0.8rem;
    font-size: 0.8rem;
}

.todoCardPriority {
    margin-bottom: 0.5rem;
}

.todoCardButtons {

  display: flex;
  justify-content: end;
  align-items: end;
  position: absolute;
  font-size: 1.2rem;
  top: 1rem;
  right: 1rem;
}

.todoCardEditButton {
  width: 2rem;
  height: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 1rem;
  color: rgb(143, 134, 134);

  cursor: pointer;
}

.todoCardDeleteButton {
  width: 2rem;
  height: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 1rem;
  color: rgb(143, 134, 134);

  cursor: pointer;
}

.todoCardDeleteButton:hover {
  background-color: rgb(240, 240, 240);
}

.todoCardEditButton:hover {
  background-color: rgb(240, 240, 240);
}

.todoCardDateview {
  display: flex;
  align-items: center;
}

.todoCardDueDate {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
  font-size: 0.8rem;
  color: rgb(168, 164, 164);

}

.dueDateIcon {
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin-right: 0.3rem;
  color: #8b8b8b;
}


.todoCardDday {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  color: rgb(168, 164, 164);
}

.ddayTrackerIcon {
  font-size: 1rem;
  margin-right: 0.3rem;
  color: #8b8b8b;
}

.ddayTrackerText {
  font-size: 0.7rem;
}

.todoViewDDayLabel1 {
  background-color: rgb(144, 144, 221);
  color: rgb(245, 245, 245);
  padding: 0.1rem 0.6rem;
  border-radius: 0.5rem;
  /* font-weight: 600; */
}

.todoViewDDayLabel2 {
  background-color: rgb(226, 145, 131);
  color: rgb(245, 245, 245);
  padding: 0.1rem 0.6rem;
  border-radius: 0.5rem;
  /* font-weight: 600; */
}

.todoViewEmpty {
    background-color: white;
    min-height: 10rem;
    width: 60% ;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.todoViewEmptyIcon {
  font-size: 1.5rem;
  align-items: center;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  color: #8b8b8b;
}

.todoViewEmptyText {
  font-size: 1rem;
  align-items: center;
  margin-right: 0.5rem;
  color: #8b8b8b;
}

.todoProjectTitle {
  padding-left: 0.7rem;
}

.todoProjectName {
  font-size: 0.7rem;
  border: 1px solid #8b8b8b;
  border-radius: 0.5rem;
  padding: 0.1rem 0.6rem;
}

@media (max-width: 1080px) {
  .todoViewCard {width: 90%}
  .todoViewCardDone {width: 90%}
  .todoViewEmpty {width: 90%}
}

