.singlePageContainer {
    padding-top: var(--navTopHeight);
    padding-left: var(--navSideWidth) ;
    height: 100%;
    background-color: white;
    color: gray;
}

.singlePageBody {
    padding: 1rem;
}

.singlePageBodyTitle {
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(209, 206, 206);
}

.singlePageMain {
    padding-top: 1rem;
}

.singlePageInputTitle {
    border: none;
    outline: none;
    margin-bottom: 0.5rem;
    font-weight: 500;
    font-size: 1.5rem;
    cursor: text;
    width: 50%;
}

.singlePageInputTitle:focus {
    border: 1px solid gray;
    width: 70%;
}

.singlePageDesInput {
    border: none;
    outline: none;
    margin-bottom: 0.5rem;
    font-weight: 300;
    font-size: 1.2rem;
    cursor: text;
    width: 70%;
}

.singlePageDesInput:focus {
    border: 1px solid gray;
    width: 70%;
}

.todoSubtaskListContainer {
    border: 1px solid rgb(216, 216, 216);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0.5rem;
    padding: 0.3rem;
    font-size: 0.8rem;
    color: gray;
}

.todoSubtaskCheckBox {
    display: flex;
    align-items: center;
    padding-right:0.5rem;
    padding: 0.2rem;
}

.todoSubtaskDone {
    text-decoration: line-through;
    color: rgb(185, 182, 182);
    padding-left: 0.5rem;
}

.todoSubtask {
    padding-left: 0.5rem;
}

.todoSubtaskIcon {
    padding-right: 0.5rem;
}

.todoSubtaskIconGroup {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.singlePageProject {
    background-color: pink;
}

.priorityDropdownContent {
    top: 8.5rem;
    left: 16.5rem;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 1px 8px 0 rgb(0 0 0 / 8%);
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    z-index: 2;
    width: 5rem;
    padding: 0.5rem ;
    font-size: 0.8rem;
}

.dueDateDropdownContent {
    top: 8.5rem;
    left: 21.8rem;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 1px 8px 0 rgb(0 0 0 / 8%);
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    z-index: 2;
    width: 6rem;
    padding: 0.5rem ;
    font-size: 0.8rem;
    color: gray;
}

.projectDropdownContent {
    top: 8.5rem;
    left: 26rem;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 1px 8px 0 rgb(0 0 0 / 8%);
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    z-index: 2;
    width: 5rem;
    padding: 0.5rem ;
    font-size: 0.8rem;
}

.textBoxIcons {
    border: none;
    padding-bottom: 1rem;
    
}

.textBoxIconsingle {
    background-color: white;
    border: 1px solid rgb(223, 225, 228);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 1px 1px;
    margin-right: 0.5rem;

    color: gray;
    cursor: pointer;

}

.textBoxIconsingle:hover {
    background-color: rgb(227, 227, 227);

}