.singlePageContainer {
    padding-top: var(--navTopHeight);
    padding-left: var(--navSideWidth) ;
    height: 100%;
    background-color: white;
    color: gray;
}

.singlePageBody {
    padding: 1rem;
}



.singlePageMain {
    padding-top: 1rem;
}

.singlePageTextBox {
    padding: 0.5rem;
    width: 95%;

}

.singlePageInputTitle {
    border: none;
    outline: none;
    margin-bottom: 0.5rem;
    font-weight: 500;
    font-size: 1.5rem;
    cursor: text;
    width: 50%;
}

.singlePageInputTitle:focus {
    border: 1px solid gray;
    width: 70%;
}

.singlePageDesInput {
    border: none;
    outline: none;
    margin-bottom: 0.5rem;
    font-weight: 300;
    font-size: 1.2rem;
    cursor: text;
    width: 70%;
    height: 180px;
    padding-left: 0.5rem;
}


.singlePageDesInput:focus {
    border: 1px solid gray;
    border-radius: 0.5rem;
    width: 100%;
}

.todoSubtaskListContainer {
    border: 1px solid rgb(216, 216, 216);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 1rem;
    padding: 0.5rem;
    font-size: 0.8rem;
    color: gray;
    margin: 0.5rem;

}

.subtaskMainContainer {
    width: 100%;
    margin: 1rem;
}

.todoSubtaskCheckBox {
    display: flex;
    align-items: center;
    padding-right:0.5rem;
    padding: 0.2rem;

}

.todoSubtaskDone {
    text-decoration: line-through;
    color: rgb(185, 182, 182);
    padding-left: 0.5rem;
}

.todoSubtask {
    padding-left: 0.5rem;
    color: gray;
}

.todoSubtaskIcon {
    padding-right: 0.5rem;
}

.todoSubtaskIconGroup {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.singlePageProject {
    background-color: pink;
}

.priorityDropdownContent {
    left: 0;
    
    position: absolute;
    background-color: #fff;
    box-shadow: 0 1px 8px 0 rgb(0 0 0 / 8%);
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    z-index: 2;
    width: 6.5rem;
    padding: 0.2rem ;
    font-size: 0.8rem;

    top: 1.7rem;
}
.parent{
    /* background-color: red; */
    position: relative;
}

.priorityDropdownContentItem {
    padding: 0.4rem 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

    border-radius: 0.2rem;
    transition: background-color 0.3s ease;

}

.priorityDropdownContentItem:hover {
    background-color: rgb(231, 230, 230);   
    /* transition: 0.3s; */
    
}

.projectDropdownContent {
    
    left: 25.7rem;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 1px 8px 0 rgb(0 0 0 / 8%);
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    z-index: 2;
    width: 6.5rem;
    padding: 0.2rem ;
    font-size: 0.8rem;
}

.projectDropdownItem {
    padding: 0.4rem 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

    border-radius: 0.2rem;
    transition: background-color 0.3s ease;
}

.projectDropdownItem:hover {
    background-color: rgb(231, 230, 230);   
}


.dueDateDropdownContent {
    top: 25rem;
    left: 21.5rem;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 1px 8px 0 rgb(0 0 0 / 8%);
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    z-index: 2;
    width: 6rem;
    padding: 0.5rem ;
    font-size: 0.8rem;
    color: gray;
}


.textBoxIcons {
    border: none;
    padding-bottom: 1rem;
    display: flex;

}

.optionContainer {
    border: none;
    padding-bottom: 1rem;
    display: flex;

}

.textBoxIconsingle {
    background-color: white;
    border: 1px solid rgb(223, 225, 228);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 1px 1px;
    margin-right: 0.5rem;

    color: gray;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.2rem 0.7rem;
}

.textBoxIconsingle:hover {
    background-color: rgb(227, 227, 227);

}

.subtaskInputContainer {
    width: 93%;
    height: 5rem;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 0.5rem;


}

.subtaskInputBox {
    display: flex;
    width: 80%;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 0.8rem;
    color: gray;
    border: none;
}

.subtaskInputButtonBox {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.subtaskSaveButton  {
    margin-right: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: white;
    color: gray;
    padding: 0.2rem 1rem;
    border: 1px solid rgb(223, 225, 228);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 1px 1px;
    cursor: pointer;
    font-size: 0.8rem;
}

.subtaskCancelButton {
    margin-right: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: white;
    color: gray;
    padding: 0.2rem 1rem;
    cursor: pointer;
    font-size: 0.8rem;
}

.subtaskSaveButton:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.todoSubtaskEditMode {
    display: flex;
    justify-content: space-between;
}

.subtaskEditMode {
    border: none;
    color: gray;
}

.singleComments {
    margin: 1rem;
    margin-top: 2rem;
}


.comments {
    margin: 0.5rem;
}

.commentsTitle {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
}

.commentsInputContainer {
    margin-bottom: 1rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(223, 225, 228);
    border-radius: 0.5rem;
}

.commentsInputBox {
    width: 80%;
}

.commentsInput {
    width: 100%;
    border: none;
}

.commentsInputButtonBox {
    margin-right: 1rem;
}

.commentsInputButton {
    margin-right: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: white;
    color: gray;
    padding: 0.2rem 1rem;
    border: 1px solid rgb(223, 225, 228);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 1px 1px;
    cursor: pointer;
    font-size: 0.8rem;

}

.todoSubtaskBtn {
    color: gray;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.singlePageBodyTitle {
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(209, 206, 206);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.singlePageBodyTitle2 {
    display: flex;
    align-items: center;
}

.singlePageBackButton {
    border: none;
    background-color: white;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    cursor: pointer;
}

.SubtaskProgressbar {
    display: flex;
    width: 2rem;
    height: 2rem;
}


@media (max-width: 750px) {
    .singlePageContainer {
        padding-left: 0 ;
      
    }
   
   }