.commentsContainer {
    border: 1px solid rgb(216, 216, 216);
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    align-items: center;
}

.commentAuthorPart {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 0.8rem;
}

.commentFirstPart{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.commentLikeBox {
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    border: 1px solid rgb(216, 216, 216);
    border-radius: 0.5rem;
    gap: 0.2rem;
    padding: 0.2rem 0.5rem;
    cursor: pointer;
    font-size: 0.8rem;
}

.commentBtn {
    display: flex;
    align-items: center;
    gap: 0.1rem;
}

.commentReplyBtn {
    border: none;
    background-color: white;
    /* display: flex;
    align-items: center; */
    cursor: pointer;
    color: gray;
}

.commentUser {
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
    gap : 1rem;
}

.commentTextBox {
    padding: 0.2rem;
    font-size: 0.8rem;
    padding: 0.5rem;
}


.replyContainer {
    border: 1px solid rgb(216, 216, 216);
    border-radius: 0.5rem;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    align-items: center;
    font-size: 0.8rem;
}

.replyFirstPart {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.replyUser {
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
    gap : 1rem;
}

.replyAuthorPart {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.replyLikeBox {
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    border: 1px solid rgb(216, 216, 216);
    border-radius: 0.5rem;
    gap: 0.2rem;
    padding: 0.2rem;
    cursor: pointer;
}

.replyTextBox {
    padding: 0.5rem;
    font-size: 0.8rem;

}

.replyBtn {
    display: flex;
    align-items: center;
    gap: 0.1rem;
}

.replyInBtn {
    border: none;
    background-color: white;
    /* display: flex;
    align-items: center; */
    cursor: pointer;
    color: gray;
}

.replyEditMode {
    padding: 0.5rem;
    font-size: 0.8rem;
    display: flex;
    align-items: center;

}

.replyEditInputBox {
    border: none;
    color: gray;
}

.replyEditButtonBox {
    gap: 1rem;
}

.commentEditInput {
    border: none;
    font-size: 0.8rem;
    padding: 0.5rem;
    color: gray;
}

.commentEditButton {
    margin-right: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: white;
    color: gray;
    padding: 0.2rem 1rem;
    border: 1px solid rgb(223, 225, 228);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 1px 1px;
    cursor: pointer;
    font-size: 0.8rem;
}

.commentEditButton:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.commentEditCancelButton {
   
    margin-right: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: white;
    color: gray;
    padding: 0.2rem 1rem;
    cursor: pointer;
    font-size: 0.8rem;
}