.menuButton {
    border: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.8rem;
    background-color: white;
    color: rgb(151, 147, 147);
    font-size: 0.9rem;
    width: 100%;
}

.mainContainer {

}

.menu {
    padding: 0.8rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    font-size: 0.9rem;
    border-radius: 0.2rem;
    transition: background-color 0.3s ease
}

.menu:hover {
    background-color: var(--navHoverColor);
}

.parent{
    position: relative;
}

.notiDropdownContent {
    left: 260px;
    top: -200px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 1px 8px 0 rgb(0 0 0 / 8%);
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    z-index: 2;
    width: 30rem;
    padding: 1rem ;
    font-size: 0.8rem;

}

.notiDropdownContentItem {
    padding: 0.4rem 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.2rem;
    transition: background-color 0.3s ease;
}

.notiDropdownHeader {
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
    font-weight: 600;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notiHeaderContent{
    border: none;
    background-color: white;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 0.2rem;
}

.notiHeaderContent:hover {
    background-color: var(--navHoverColor);

}

.notiHeaderMenu {
    border-bottom: 1px solid var(--navHoverColor);
    margin-bottom: 0.5rem;
}

.notiHeaderMenuItems {
    border: none;
    background-color: white;
    padding: 0.8rem;
    color: rgb(151, 147, 147);
}

.notiHeaderMenuItems.is_active {
    border-bottom: 2px solid dodgerblue;

}
