.menuButton {
    border: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.8rem;
    background-color: white;
    color: rgb(151, 147, 147);
    font-size: 0.9rem;
    width: 100%;
}

.mainContainer {

}

.menu {
    background-color: red;
    
}